//Colors
$color-bg-primary: #f5f6fa;
$color-bg-secondary: #ffffff;
$color-primary: #041e41;

//Color errors
$color-error: #fd8383;

//Color Loinks
$color-links: #005197;

// boxswadows

$box-shadow:
  rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
  rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
// Fonts
$font-family: "Urbanist", sans-serif;
